<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <appSettings>
    <!-- SDK APPID    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="APPID" value="" />
    <!-- 与win64 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY64" value="" />
    <!-- 与win32 SDK对应    请到官网https://ai.arcsoft.com.cn/index.html中申请 -->
    <add key="SDKKEY32" value="" />
    
    <!-- 摄像头索引,索引从0开始，如果仅有一个摄像头请两个参数的值都设为0 -->
    <!--RGB摄像头索引-->
    <add key="RGB_CAMERA_INDEX" value="0" />
    <!--IR摄像头索引-->
    <add key="IR_CAMERA_INDEX" value="1" />
    <!--视频模式：FR失败重试次数-->
    <add key="FR_MATCH_TIME" value="100" />
    <!--视频模式：活体检测失败重试次数-->
    <add key="LIVENESS_MATCH_TIME" value="100" />
  </appSettings>
  
  <!--以下是日志的配置，无需关注-->
  <log4net>
    <root name="loginfo">
      <!--定义记录的日志级别 OFF > FATAL > ERROR > WARN > INFO > DEBUG > ALL -->
      <level value="OFF" />
      <!--定义记录的日志级别-->
      <appender-ref ref="RollingLogFileAppender"/>
      <!--记录到什么介质中-->
    </root>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <!--输出日志的编码方式（可以解决中文乱码）-->
      <param name="Encoding" value="utf-8" />
      <!--创建日志文件的方式-->
      <param name="RollingStyle" value="date"/>
      <!--日志文件存储在程序运行时目录的 Logs 文件夹中-->
      <param name="File" value="Logs\"/>
      <!--日志文件名格式-->
      <param name="DatePattern" value="yyyy-MM-dd&quot;.log&quot;"/>
      <!--日志文件名是否为静态-->
      <param name="StaticLogFileName" value="false"/>
      <!--备份日志数量-->
      <param name="MaxSizeRollBackups" value="10"/>
      <!--是否是向文件中追加日志-->
      <param name="AppendToFile" value="true"/>
      <!--日志信息排版模式-->
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%n%-6p%d{yyyy-MM-dd HH:mm:ss:fff}%n消息：%m%n位置：%l%n"/>
      </layout>
    </appender>
  </log4net>
</configuration>